<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="Firefox" />
  <package id="adobereader" />
  <package id="android-sdk" />
  <package id="autohotkey" />
  <package id="clink" />
  <package id="cmder" />
  <package id="composer" />
  <package id="cygwin" />
  <package id="docker-toolbox" installArguments="/COMPONENTS=kitematic,dockercompose /TASKS=modifypath,upgradevm"/>
  <package id="dotnetcore-runtime" />
  <package id="git" packageParameters="/GitAndUnixToolsOnPath" />
  <package id="google-backup-and-sync" />
  <package id="googlechrome" />
  <package id="inkscape" />
  <package id="jdk8" />
  <package id="jre8" />
  <package id="k-litecodecpackmega" />
  <package id="lockhunter" />
  <package id="lyx" />
  <package id="miniconda3" />
  <package id="nodejs-lts" />
  <package id="notepadplusplus" />
  <package id="putty" />
  <package id="qbittorrent" />
  <package id="teamviewer" />
  <package id="virtualbox" packageParameters="/CurrentUser /NoDesktopShortcut"/>
  <package id="visualstudiocode" packageParameters="/NoDesktopIcon /NoQuicklaunchIcon"/>
  <package id="vlc" />
  <package id="winscp" /> 
</packages>
